html * {
    font-family: "Hemi Head";
}

nav {
    background-color: #c5a880;
}

.nav-justified .nav-item,
.nav-justified>.nav-link {
    text-align: center;
}

svg {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 2rem;
    max-height: auto;
}

#hamburguesa a {
    color: black;
    text-decoration: none;
    transition: 0.2s;
    width: fit-content;
    margin: auto;
    font-size: x-large;
}

#hamburguesa a:hover {
    text-decoration: underline;
}

#hamburguesa a:active {
    color: white;
}

#Logo {
    width: 2.5rem;
    max-height: auto;
    text-align: end;
}

.contenedor {
    flex: 1 1 auto;
}

.titulo-contenedor p {
    font-size: xx-large;
}
